<h1>Listing storages</h1>

<table>
  <tr>
    <th>Pack</th>
    <th>Message</th>
    <th>Storage method</th>
    <th>Storage path</th>
    <th>Storage category</th>
    <th>Storage custom</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<%= paginate @storages %>
<% @storages.each do |storage| %>
  <tr>
    <td><%= storage.pack_id %></td>
    <td><%= storage.message_id %></td>
    <td><%= storage.storage_method %></td>
    <td><%= storage.storage_path %></td>
    <td><%= storage.storage_category %></td>
    <td><%= storage.storage_custom %></td>
    <td><%= link_to 'Show', storage %></td>
    <td><%= link_to 'Edit', edit_storage_path(storage) %></td>
    <td><%= link_to 'Destroy', storage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Storage', new_storage_path %>
