<p id="notice"><%= notice %></p>

<p>
  <b>Pack:</b>
  <%= @storage.pack_id %>
</p>

<p>
  <b>Message:</b>
  <%= @storage.message_id %>
</p>

<p>
  <b>Storage method:</b>
  <%= @storage.storage_method %>
</p>

<p>
  <b>Storage path:</b>
  <%= @storage.storage_path %>
</p>

<p>
  <b>Storage category:</b>
  <%= @storage.storage_category %>
</p>

<p>
  <b>Storage custom:</b>
  <%= @storage.storage_custom %>
</p>


<%= link_to 'Edit', edit_storage_path(@storage) %> |
<%= link_to 'Back', storages_path %>
