<p id="notice"><%= notice %></p>

<p>
  <b>Pack:</b>
  <%= @export.pack_id %>
</p>

<p>
  <b>Language:</b>
  <%= @export.language_id %>
</p>

<p>
  <b>Url:</b>
  <%= @export.url %>
</p>


<%= link_to 'Edit', edit_export_path(@export) %> |
<%= link_to 'Back', exports_path %>
